nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 8vh;
    width: 100vw;
    z-index: 999;
}

.DarkMode span {
    text-transform: uppercase;
    font-size: 2.0rem;
}

.LightMode span {
    text-transform: uppercase;
    font-size: 2.0rem;
}

.Container span {
    text-transform: uppercase;
    font-size: 2.0rem;
}

#LogName2 {
    color: orange;
}

#LogName1 {
    color: maroon;
}

.Toggle-Container {
    position: relative;
    margin-left: 40px;
    background-color: white;
    width: 80px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
}

.Toggle-Switcher {
    position: absolute;
    top: 3.5px;
    left: 3px;
    background-color: black;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    transition: .6s;
}

.Toggle-Switcher-Moved {
    position: absolute;
    top: 3.5px;
    left: 42px;
    background-color: orange;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    transition: .6s;
}

.games-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 0.1rem 0.1rem;
    padding: 3%;
}

figure {
    margin: 10;
    padding: 10;
}

figure img {
    width: 100%;
    height: 75%;

}

figcaption {
    padding: 10px;
    text-align: center;
}

h4 {
    margin: 0;
    font-size: 1.2rem;
}

h6 {
    margin: 0;
    font-size: 1rem;
    color: #666;
}

p {
    margin: 0;
    font-size: 0.8rem;
    color: #999;
}

.search {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.srch {
    padding: 12px;
    border-radius: 20px;
    border: none;
    width: 70%;
    margin-right: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.srch:focus {
    outline: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.btn {
    background-color: #333333;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.btn:hover {
    background-color: #0055CC;
    cursor: pointer;
}

.btn:hover {
    background-color: #F7F7F7;
    color: #333333;
}

#root {
    --bg-color: #fff;
    /* light mode background color */
    --text-color: #333;
    /* light mode text color */
    --btn-bg-color: #008080;
    /* light mode button background color */
    --btn-text-color: #fff;
    /* light mode button text color */

    /* dark mode colors */
    --bg-color-dark: #333;
    --text-color-dark: #fff;
    --btn-bg-color-dark: #008080;
    --btn-text-color-dark: #fff;
}

.App {
    background-color: var(--bg-color);
    color: var(--text-color);
}

button {
    padding: 10px;
    border-radius: 0.25rem;
    background-color: var(--btn-bg-color);
    color: var(--btn-text-color);
    border-radius: 5px;
    margin: 1px;
    box-shadow: '2px 2px 5px rgba(0, 0, 0.3)';
}

/* dark mode styles */
.App.dark {
    background-color: var(--bg-color-dark);
    color: var(--text-color-dark);
}

.App.dark button {
    background-color: var(--btn-bg-color-dark);
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;

}

label {
    margin: 10px;
    font-size: 1.2rem;
}

input,
select,
textarea {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

input[type="submit"],
button[type="submit"] {
    background-color: #00a6eb;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

input[type="submit"]:hover,
button[type="submit"]:hover {
    background-color: #0077b3;
}

textarea {
    height: 20px;
    width: 100px;
    resize: none;
}