body {
    background: #fff;
    margin: 0;
    font-family: 'Gelasio', serif;
    height: 70vh;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, fr);
    grid-template-rows: repeat(4, fr);
    gap: 0.1rem;
}

#Game {
    position: absolute;
    right: 100px;
    top: 80px;
    width: 50%;
    height: 20%;
}

#Letsplay {
    position: absolute;
    right: 100px;
    top: 80px;
    width: 50%;
}

.PlayGames {
    width: 100vw;
    height: 50%;
    display: flex;
    justify-content: center;
}